.Adder {
  padding: 1px 3px 5px 3px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}

.Email {
  border: 1px solid #000000;
  padding: 10px;
  width: 40px;
  border-radius: 10px;
}

.CampaignButton {
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 4px;
}

.Entry {
  background-color: darkgray;
}